/* -------- SETUP -------- */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}



/* -------- GENERAL -------- */
body {
  font-size: 18px;
  font-family: "Fredoka", sans-serif;
  background-color: #000;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* -------- NAV -------- */
.navBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 71px;
  background-color: #000;
  z-index: 2;
}

.wrapperNav {
  width: 90%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  background-color: #000;
}

.navigation ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeNav {
  font-family: 'Oi', cursive;
  text-shadow: -1px -1px 0 #fdef20, 1px -1px 0 #fdef20, -1px 1px 0 #fdef20, 1px 1px 0 #fdef20;
  text-decoration: none;
  color: #000;
}

.refreshNav {
  font-family: 'Oi', cursive;
  text-shadow: -1px -1px 0 #fdef20, 1px -1px 0 #fdef20, -1px 1px 0 #fdef20, 1px 1px 0 #fdef20;
  text-decoration: none;
  color: #000;
  font-size: 2.8rem;
  cursor: pointer;
}



/* -------- HEADER -------- */
header {
  margin-top: 70px;
  background: url(../src/components/assets/domingo-alvarez-e-Cs3y8Mn6-Gk-unsplash.jpg);
  height: calc(100vh - 70px);
  width: 100%;
  background-size: cover;
  background-position: center;
}

.headerFlex {
  text-align: center;
}

h1 {
  font-family: 'Oi', cursive;
  font-size: 5rem;
  padding-top: 200px;
  text-shadow: -1px -1px 0 #fdef20, 1px -1px 0 #fdef20, -1px 1px 0 #fdef20, 1px 1px 0 #fdef20;
}

h2 {
  font-family: "Shrikhand", cursive; 
  text-transform: capitalize;
}

.headerFlex p {
  width: 80%;
  margin: 50px auto 30px auto;
}

.headerFlex  a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 13px;
  border-radius: 5px;
  color: #000;
  width: fit-content;
  text-shadow: -1px -1px 0 #fdef20, 1px -1px 0 #fdef20, -1px 1px 0 #fdef20, 1px 1px 0 #fdef20;
}

.headerFlex  a:hover {
  border: solid 2px #fdef20;
}

/* -------- TEMPLATE LIST -------- */
.templatesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(40vh + 71px);
  color: #fff;
  justify-content: space-around;
}

.templateItem {
  display: flex;
  width: 47%;
  align-items: center;
  padding: 2px;
  margin: 5px 5px;
  border: dashed 1px #fdef20;
}

.templateItem:hover {
  border: solid 1px #fdef20;
  cursor: pointer;
}

.templateItem img {
  width: 20%;
  height: 75px;
  margin-right: 20px;
}

/* -------- SELECTED TEMPLATE  -------- */
.wrapperMeme {
  width: 90%;
  margin: 0 auto;
}

.selectedTemplate {
  height: 40vh;
  position: fixed;
  left: 5%;
  right: 5%;
  top: 0%;
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
  background-color: #000;
}

.selectedTemplate img {
  height: 60%;
  margin: auto 20px auto 0;
}

.selectedTemplate span {
  font-size: 0.6rem;
  margin-left: 3px;
  color: #fff;
}

.textInputs {
  margin: auto 0;
}

.textInputs input {
  margin: 6px 0 3px 0;
  padding: 5px;
  width: 94%;
  border: solid 1px #fdef20;
}

.textInputs button {
  margin: 20px auto;
  background-color: #fdef20;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.textInputs button:hover,
.textInputs button:focus {
  background-color: #000;
  color: #fdef20;
}


/* -------- USER GENERATED MEME  -------- */
.generatedMeme {
  height: 40vh;
  margin-top: calc(40vh + 71px);
  display: flex;
}

.generatedMeme img {
  height: 60%;
  margin: auto;
}


/* -------- 
    MEDIA QUERIES  
-------- */

@media (max-width: 800px) {
  h1 {
    padding-top: 100px;
    font-size: 4.6rem;
  }
  
  .templateItem {
    width: 90%;
    margin: 5px auto;
  }
  .textInputs input {
    width: 85%;
  }
  .templatesContainer {
    margin-top: calc(40vh + 97px);
  }
}

@media (max-width: 600px) {
  h1 {
    padding-top: 35px;
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .selectedTemplate {
    flex-direction: column;
    left: 10%;
    right: 10%;
    justify-content: center;
    height: 42vh;
  }
  .selectedTemplate img {
    height: auto;
    width: 50%;
    margin: 10px auto 15px auto;
  }
  .textInputs input {
    margin-bottom: 4px;
    padding: 1px;
  }
  
  .textInputs button {
    margin: 5px auto;
    background-color: #fdef20;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


}

@media (max-width: 400px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .templatesContainer {
    margin-top: calc(40vh + 71px);
  }
}
/* font-family: 'Oi', cursive;
    font-family: 'Shrikhand', cursive; 
    font-family: 'Fredoka', sans-serif;*/
   